.wrapper {
	position: relative;
	height: 1500px;
	width: 100%;
}
.item {
	width: 1180px;
	height: 245px;
	position: relative;
	top: 80px;
	margin-bottom: 30px;
	border-bottom: 1px solid #8c8c8c;
}

.cart_body {
	width: 1180px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 100px;
}
.name {
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
}
.line {
	width: 1180px;
	height: 1px;
	background: #8c8c8c;
	position: absolute;
	top: 100px;
}
.text1 {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.025em;
	text-align: left;
	position: absolute;
	left: 245px;
	top: 80px;
}
.text2 {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.025em;
	text-align: left;
	position: absolute;
	left: 780px;
	top: 80px;
}
.text3 {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.025em;
	text-align: left;
	position: absolute;
	left: 1060px;
	top: 80px;
}
.item_name {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 600;
	line-height: 18px;
	letter-spacing: 0.025em;
	text-align: left;
	left: 170px;
	top: 50px;
	position: absolute;
	width: 190px;
}
.item_description {
	font-family: Montserrat;
	font-size: 14px;
	font-weight: 400;
	line-height: 17px;
	letter-spacing: 0.025em;
	text-align: left;
	position: absolute;
	left: 170px;
	top: 100px;
	width: 202px;
}
.item_price {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0.025em;
	text-align: left;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-100%);
}
.item_count {
	width: 57px;
	height: 31px;
	border: 1px solid #dbdbdb;
	font-family: Montserrat;
	font-size: 12px;
	font-weight: 600;
	line-height: 15px;
	letter-spacing: 0.025em;
	text-align: left;

	color: #dbdbdb;
    display:flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    right:150px;
    top:50%;
    transform: translateY(-75%);
    
}
.all{
    font-family: Montserrat;
font-size: 22px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color:#0F0F0F;
right:0px;
bottom:-180px;
position: absolute;
}



.cart_form{
    width:450px;
    height:389px;
    top:300px;
    left:130px;
    position:relative;
}

.form_name{
font-family: Montserrat;
font-size: 22px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
margin-bottom: 30px;

}

.input_cart{
    width:450px;
    height:48px;
    border:1px solid #8C8C8C;
     margin-bottom: 20px;
}
.input_label{
font-family: Montserrat;
font-size: 15px;
font-weight: 400;
letter-spacing: 0em;
text-align: left;

}

.last{
    display:grid;
    gap:10px;
    align-items: start;
    grid-template-columns: 140px 20px 123px;
    grid-template-rows: repeat(2, 50px);
    text-align: right;
}

.radio{
    margin-top:5px;
}
.sell_text{
	font-family: Montserrat;
font-size: 14px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.025em;
text-align: left;

}
p{
	margin-bottom: 0px;
}
.sell_button{
	width:256px;
	height:53px;
	color:#862225;
	background-color: white;
	border: 1px solid #862225;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sell{
	position: absolute;
	width:600px;
	height:53px;
	right:130px;
	bottom:100px;
	display: flex;
	gap:20px;
	align-items: center;
}

@media (max-width:1180px) {
.cart_body{
	width:1024px;
}
.item{
	width:1024px;
}
.line{
	width:1024px;
}
.text1{
	left:50px;
}
.text2{
	left:750px;
}
.text3{
	left:900px;
}
}

@media (max-width:1024px) {
.cart_body{
	width:750px;
}
.item{
	width:750px;
}
.line{
	width:750px;
}
.text1{
	left:50px;
}
.text2{
	left:440px;
}
.text3{
	left:630px;
}
}

@media (max-width:750px) {
.cart_body{
	width:450px;
}
.item{
	width:450px;
}
.line{
	width:450px;
}
.text1{
	left:50px;
}
.text2{
	left:140px;
}
.text3{
	left:290px;
}
.item_price{
	top:200px;
}
.item_count{
	top:200px;
}
.cart_form{
	left:50%;
	transform: translateX(-50%);
}
.sell{
	display:block;
	height:100px;
	width:100%;
	bottom:20px;
right:auto;
}
.sell_text{
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	width:319px;

}
.sell_button{
		left:50%;
	transform:translateX(-50%);
	position:absolute;
	bottom:0px;
}
}
@media (max-width:450px) {
.cart_body{
	width:360px;
}
.item{
	width:360px;
}
.line{
	width:360px;
}
.text1{
	left:20px;
}
.text2{
	left:100px;
}
.text3{
	left:250px;
}
.item_price{
	top:200px;
}
.item_count{
	top:200px;
}
.cart_form{
	left:50%;
	transform: translateX(-50%);
}
.form_name{
	left:50%;
	transform: translateX(-50%);
	position: relative;
	width:360px;
}
.input_cart{
	width:360px;
}
.on_input{
	width:360px;
	left:50%;
	transform: translateX(-50%);
	position:relative;
}
.last{
	width:360px;
	left:50%;
	transform: translateX(-50%);
	position: relative;
}
.last_wrapper{
	width:100%
}
.cart_form{
	width:100%;
}
}

