.activeModal {
	overflow-y: hidden;
}
.wrapper {
	width: 100%;
	height: 100%;
	background: rgba(49, 49, 49, 0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
}

.activeModal {
	overflow-y: hidden;
}
.wrapper {
	width: 100%;
	height: 100%;
	background: rgba(49, 49, 49, 0.8);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: 15;
	display: flex;
	align-items: center;
	justify-content: center;
}
.modalContent {
	width: 708px;
	height: 237px;
	z-index: 16;
	position: absolute;
	background-color: #d9d9d9;
}

.text1 {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	width: 605px;
	height: 38px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 32px;
}

.text2 {
	width: 381px;
	height: 19px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 62px;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 600;
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
}

.text3 {
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	width: 144px;
	height: 20px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 107px;
}

.yes {
	background: #3e6f71;
	border: none;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.025em;
	text-align: left;
	display: flex;
	justify-content: center;
	color: #ffffff;
	align-items: center;
	position: absolute;
	top: 155px;
	left: 226px;
    width:110px;
    height:45px;
}

.no {
    width:110px;
    height:45px;
	position: absolute;
	top: 155px;
	left: 376px;
	background: #862225;
	border: none;
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0.025em;
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
}
