.contact {
	width: 622px;
	height: 975px;
	position: relative;
	left: 127px;
	top: 140px;
	margin-bottom: 200px;
}

.name {
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 600;
	line-height: 27px;
	letter-spacing: 0em;
	text-align: left;
}

.phone {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	top: 40px;
}
.number {
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.025em;
	text-align: left;
	position: absolute;
	top: 80px;
}
.mail_text {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	top: 120px;
}

.mail {
	position: absolute;
	top: 170px;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0.025em;
	text-align: left;
}
.time {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	top: 220px;
}
.time_text {
	position: absolute;
	top: 270px;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 400;
	line-height: 23px;
	letter-spacing: 0.025em;
	text-align: left;
}
.rek {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	top: 340px;
}
.rek_text {
	position: absolute;
	top: 380px;
	font-family: Montserrat;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.025em;
	text-align: left;
}
.schema {
	font-family: Montserrat;
	font-size: 20px;
	font-weight: 500;
	line-height: 25px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	top: 500px;
}

.map {
	position: absolute;
	bottom: 0px;
}

@media (max-width: 800px) {
	.contact {
		left: 50%;
		transform: translateX(-50%);
        width:450px;
	}
	.map {
		width: 450px;
		height: 350px;
		left: 50%;
		transform: translateX(-50%);
	}

	.name {
        position: absolute;
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}

	.phone {
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}
	.number {
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}
	.mail_text {
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}

	.mail {
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}
	.time {
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}
	.time_text {
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}
	.rek {
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}
	.rek_text {
		left: 50%;
		transform: translateX(-50%);
          text-align: center;
	}
	.schema {
		left: 50%;
		transform: translateX(-50%);
        text-align: center;
	}
}

@media (max-width: 450px) {
    .map{
        bottom:100px;
        width:350px;
        height:250px;
    }
    .contact{
        width:360px;
    }
}