.wrapper {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    width: 100%;
    height: 269px;
    position: relative;
}

.logo {
    left: 0px;
    top: 0px;
    position: absolute;
    width: 120px;
    height: 20px;
    display: flex;
    cursor: pointer;
}
.list_item a{
    text-decoration: none;
    color:black;
}
.logo1 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.025em;
    text-align: left;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.025em;
    text-align: left;
    color: rgba(15, 15, 15, 1);
}
.logo2 {
    margin-left: 10px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.025em;
    text-align: left;

    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.025em;
    text-align: left;
    color: rgba(134, 34, 37, 1);
}

.reactangle {
    width: 1180px;
    height: 180px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.description {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0.025em;
    text-align: left;
    position: absolute;
    left: 0px;
    top: 25px;
}

.number {
    width: 46px;
    height: 46px;
    border: 1px solid rgba(134, 34, 37, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.025em;
    text-align: left;
    position: absolute;
    left: 0px;
    bottom: 5px;
}

.information{
    font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.025em;
text-align: left;
text-transform: uppercase;

}

.list{
    left:300px;
    position:absolute;
    height:180px;
    width:300px;
 
}
.list ul{
    display:flex;
    flex-direction: column;
    gap:15px;
}

.list_item{
    font-family: Montserrat;
font-size: 13px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0.025em;
text-align: left;
text-transform: uppercase;
}

.phone{
    font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.025em;
text-align: left;
color:rgba(134, 34, 37, 1);
position:absolute;
right:5px;
top:0px;

}

.email{
    font-family: Montserrat;
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0.025em;
text-align: left;
position:absolute;
right:5px;
top:30px;
}

@media (max-width:1280px) {
.phone{
    right:250px;
}
.email{
    right:250px;
}
.logo{
    left:150px;
}
.description{
    left:150px;
}
.number{
    left:150px;
}
}
@media (max-width:1024px) {
.phone{
    right:250px;
}
.email{
    right:250px;
}
.logo{
left:380px;
}
.description{
    left:380px;
}
.number{
    left:380px;
}
.list{
    left:500px;
}
.reactangle{
    width:100%;
}
}
@media (max-width:695px) {
.phone{
    right:330px;
}
.email{
    right:330px;
}
.logo{
left:380px;
}
.description{
    left:380px;
}
.number{
    left:380px;
}
.list{
    left:500px;
}
}
@media (max-width:541px) {
.phone{
    right:auto;
    left:50%;
    transform: translateX(-50%);
    top:auto;
    bottom:30px;

}
.email{
 right:auto;
    left:50%;
    transform: translateX(-50%);
    top:auto;
    bottom:5px;
}
.logo{
left:50%;
transform: translateX(-50%);
top:30px;

}
.description{
    left:50%;
    transform: translateX(-50%);
    top:55px;
}
.number{

    left:50%;
    transform: translateX(-50%);
    bottom:300px;
}
.list{
    left:50%;
    transform: translateX(-50%);
    top:200px;
    width:200px;
  
}


.list ul{
    padding-left:0;
}
.information{
      text-align: center;

}
.list_item{
      text-align: center;

}

.reactangle{
    height:470px;
}

.wrapper{
    height:470px;
}
}
